    <!-- Breadcrumb -->
<div id="breadcrumb">
    <div class="container">
        <h2 class="title productTitle">...</h2>

        <ul class="breadcrumb">
            <li><a href="/" title="Home">Ana Sayfa</a></li>
            <li><a href="#" title="..." class="categoryName">...</a></li>
            <li><span class="productTitle">...</span></li>
        </ul>
    </div>
</div>


<div class="container">
    <div class="product-detail">
        <div class="products-block layout-5">
            <div class="product-item">
                <div class="product-title productTitle">...</div>

                <div class="row">
                    <div class="product-left col-md-4 col-sm-4 col-xs-12">
                        <div class="product-image horizontal" id="productImageList">
                            <div class="main-image productMainImage">
                                <img class="img-responsive" src="" alt="Product Image">
                            </div>


                        </div>
                    </div>

                    <div class="product-right col-md-5 col-sm-4 col-xs-12">
                        <div class="product-info">
                            <div class="product-price">
                                <span class="sale-price productSalePrice">00.00</span>
                                <span class="base-price productBasePrice">00.00</span>
                            </div>

                            <div class="product-stock productStock"> ...  </div>

                            <div class="product-short-description"> ... </div>

                            <div class="product-variants border-bottom">
                                <div class="product-variants-item">
                                    <span class="control-label">Mağaza :</span>

                                    <a href="#" class="control-label magazaButton"><i class="fa fa-building-o" aria-hidden="true"></i>   Konç Ticaret</a>
                                </div>
                            </div>

                            <div class="product-add-to-cart border-bottom">
                                <div class="product-quantity">
                                    <span class="control-label">QTY :</span>
                                    <div class="qty">
                                        <div class="input-group">
                                            <input type="text" name="qty" value="1" data-min="1">
                                            <span class="adjust-qty">
                                                <span class="adjust-btn plus">+</span>
                                                <span class="adjust-btn minus">-</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-buttons">
                                    <a class="add-to-cart" href="#">
                                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                        <span>Sepete Ekle</span>
                                    </a>

                                    <a class="add-wishlist" href="#">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="product-share border-bottom">
                                <div class="item">
                                    <a href="javascript:;" onclick="vba.route.ccnt.funcs.shareProduct(this);"><i class="zmdi zmdi-share" aria-hidden="true"></i><span class="text">Paylaş</span></a>
                                </div>
                                <div class="item">
                                    <a href="javascript:;" onclick="vba.route.ccnt.funcs.sendToMail();"><i class="zmdi zmdi-email" aria-hidden="true"></i><span class="text">Mail Gönder</span></a>
                                </div>
                                <div class="item">
                                    <a href="javascript:;" onclick="vba.route.ccnt.funcs.windowPrint();"><i class="zmdi zmdi-print" aria-hidden="true"></i><span class="text">Yazdır</span></a>
                                </div>
                            </div>

                            <div class="product-review border-bottom">
                                <div class="item">
                                    <div class="product-quantity">
                                        <span class="control-label">Değerlendirme :</span>
                                        <div class="product-rating">
                                            <div class="star on"></div>
                                            <div class="star on"></div>
                                            <div class="star on"></div>
                                            <div class="star on"></div>
                                            <div class="star"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <a data-toggle="tab" href="#review" onclick="vba.route.ccnt.funcs.scrollToSection('#review');return false"><i class="zmdi zmdi-comments" aria-hidden="true"></i><span class="text commetsCount">...</span></a>
                                </div>

                                <div class="item">
                                    <a data-toggle="tab" href="#review" onclick="vba.route.ccnt.funcs.scrollToSection('#commentFormBody');return false"><i class="zmdi zmdi-edit" aria-hidden="true"></i><span class="text">Yorum Yapın</span></a>
                                </div>
                            </div>

                            <div class="product-extra">
                                <div class="item">
                                    <span class="control-label">Görüntüleme :</span><span class="control-label">0</span>
                                </div>
                                <div class="item">
                                    <span class="control-label">Kategori :</span>
                                    <a href="#" title="" class="categoryName">Vegetables,</a>
                                </div>
                                <div class="item">
                                    <span class="control-label">Taglar :</span>
                                    <a href="javascript:;" title="tags" class="productTags">...</a>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="payment-intro col-md-3 col-sm-4 col-xs-12">
                        <div class="block-content">
                            <div class="item">
                                <img class="img-responsive" src="/img/home2-payment-1.png" alt="Payment Intro">
                                <h3 class="title">GÜVENLİ SEVKİYAT</h3>
                                <div class="content">Güvenli sevkiyat yapılabilir.</div>
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="/img/home2-payment-2.png" alt="Payment Intro">
                                <h3 class="title">
                                    GÜVENLİ ÖDEME
                                </h3>
                                <div class="content">Güvenli ödeme ile güvendesiniz.</div>
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="/img/home2-payment-3.png" alt="Payment Intro">
                                <h3 class="title">PARA İADE GARANTİSİ</h3>
                                <div class="content">Para iade garantisi veriyoruz.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-tab">
                    <!-- Tab Navigation -->
                    <div class="tab-nav">
                        <ul class="nav nav-tabs">
                            <li class="nav-item active">
                                <a class="nav-link active" data-toggle="tab" href="#descriptionDetails">
                                    <span>Açıklama</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#additional-information">
                                    <span>Ek Bilgiler</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#review">
                                    <span>Yorumlar</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Tab Content -->
                    <div class="tab-content">
                        <!-- Description -->
                        <div role="tabpanel" class="tab-pane fade in active" id="descriptionDetails"> ... </div>

                        <!-- Product Tag -->
                        <div role="tabpanel" class="tab-pane fade" id="additional-information"> ... </div>

                        <!-- Review -->
                        <div role="tabpanel" class="tab-pane fade" id="review">
                            <div class="reviews">

                                <div class="comments-list">  </div>

                                <div id="commentFormBody">
                                    @if (!string.IsNullOrEmpty(Context.Session.GetString("id")) && (Context.Session.GetString("login") == "true"))
                                    {
                                        <div class="review-form commentForm">
                                            <h4 class="title">Bu ürünü değerlendirin.</h4>

                                            <form method="post" onsubmit="vba.route.ccnt.funcs.updateComment(this);return false" class="form-validate" id="commentForm">
                                                <div class="form-group">
                                                    <div class="text">Değerlendirme<sup class="required">*</sup></div>
                                                    <div class="product-rating">
                                                        <div class="rating">
                                                            <input type="radio" id="star5" name="rating" value="5" />
                                                            <label for="star5" title="5 yıldız">5 stars</label>
                                                            <input type="radio" id="star4" name="rating" value="4" />
                                                            <label for="star4" title="4 yıldız">4 stars</label>
                                                            <input type="radio" id="star3" name="rating" value="3" />
                                                            <label for="star3" title="3 yıldız">3 stars</label>
                                                            <input type="radio" id="star2" name="rating" value="2" />
                                                            <label for="star2" title="2 yıldız">2 stars</label>
                                                            <input type="radio" id="star1" name="rating" value="1" />
                                                            <label for="star1" title="1 yıldız">1 star</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="text">Açıklama</div>
                                                    <textarea rows="5" aria-required="true" name="detail" overflow="hidden" resize="none"></textarea>
                                                </div>

                                                <div class="form-group">
                                                    <input type="submit" class="btn btn-primary" value="Yorum Gönder">
                                                </div>
                                            </form>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class='col-lg-12 mb-3'>
                                            <div class='row g-0 bg-light py-4'>
                                                <div class='col-md-12 d-flex align-items-center justify-content-center'>
                                                    <i class="fa fa-comments-o"></i> Yorum Yapabilmek için lütfen &nbsp;&nbsp;  <a href="/user/login" title="Müşteri hesabınızda oturum açın"><i class="fa fa-sign-in"></i>&nbsp;<u><b>Giriş</b></u></a> &nbsp;&nbsp;yapınız.
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Related Products -->
    <div class="products-block related-products item-4">
        <div class="block-title">
            <h2 class="title">Benzer <span>Ürünler</span></h2>
        </div>

        <div class="block-content relatedProducts">  </div>
    </div>
</div>

