<div id="content" class="site-content">
    <!-- Breadcrumb -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/" title="Home">Ana Sayfa</a></li>
                <li>Kategoriler</li>
                <li><span class="activePageName"> </span></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div id="left-column" class="sidebar col-lg-3 col-md-3 col-sm-3 col-xs-12">

                <!-- Block - Filter -->
                <div class="block product-filter">
                    <h3 class="block-title t-center">Ürün Filtrele</h3>
                    <hr class="hrStyle-seven" />
                    <div class="block-content">
                        <form method="post" onsubmit="vba.route.ccnt.funcs.filterOperations(this);return false" class="form-validate" id="filterForm">

                            <div class="filter-item">
                                <h3 class="filter-title"> StOK DURUMU </h3>
                                <div class="block-content">
                                    <div class="select">
                                        <select class="form-control" name="isStock">
                                            <option value="0">Tümü</option>
                                            <option value="1">Stok Yok</option>
                                            <option value="2">Stok Var</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="filter-item">
                                <h3 class="filter-title">Değerlendirme</h3>

                                <div class="filter-content">
                                    <div class="product-rating d-flex justify-content-center">
                                        <div class="rating">
                                            <input type="radio" id="star5" name="rating" value="5" onclick="vba.route.ccnt.funcs.raitingDisable();" />
                                            <label for="star5" title="5 yıldız">5 stars</label>
                                            <input type="radio" id="star4" name="rating" value="4" onclick="vba.route.ccnt.funcs.raitingDisable();" />
                                            <label for="star4" title="4 yıldız">4 stars</label>
                                            <input type="radio" id="star3" name="rating" value="3" onclick="vba.route.ccnt.funcs.raitingDisable();" />
                                            <label for="star3" title="3 yıldız">3 stars</label>
                                            <input type="radio" id="star2" name="rating" value="2" onclick="vba.route.ccnt.funcs.raitingDisable();" />
                                            <label for="star2" title="2 yıldız">2 stars</label>
                                            <input type="radio" id="star1" name="rating" value="1" onclick="vba.route.ccnt.funcs.raitingDisable();" />
                                            <label for="star1" title="1 yıldız" id="ratingDisabled">1 star</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             
                            <div class="filter-item">
                                <h3 class="filter-title"> FİYATA GÖRE </h3>

                                <div class="block-content">
                                    <div id="slider-range" class="tiva-filter">
                                        <div class="filter-item price-filter">
                                            <div class="layout-slider">
                                                <input id="price-filter" name="price" value="0;10000" />
                                            </div>
                                            <div class="layout-slider-settings"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="filter-item" >
                                <div class="block-content">
                                    <hr class="hrStyle-seven" />
                                    <div class="form-group text-center">
                                        <button class="btn btn-primary" type="submit">Filtrele</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Product Tags -->
                <div class="block tags product-tags">
                    <h3 class="block-title">ÜRÜN ETİKETLERİ</h3>

                    <div class="block-content">
                        <ul id="tagsContainer">
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Page Content -->
            <div id="center-column" class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="product-category-page">

                    <!-- Nav Bar -->
                    <div class="products-bar">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <div class="gridlist-toggle" role="tablist">
                                    <ul class="nav nav-tabs">
                                        <li class="active" id="gridProductButton"><a href="javascript:;" onclick="vba.route.ccnt.funcs.getProductsGrid(); return false;"><i class="fa fa-th-large"></i></a></li>
                                        <li id="listProductButton"><a href="javascript:;" onclick="vba.route.ccnt.funcs.getProductsList(); return false;"><i class="fa fa-bars"></i></a></li>
                                    </ul>
                                </div>

                                <div class="total-products">0 ÜRÜN VAR</div>
                            </div>

                            <div class="col-md-6 col-xs-6">
                                <div class="filter-bar">
                                    <form action="#" class="pull-right">
                                        <div class="select">
                                            <select class="form-control" id="listSorting">
                                                <option value="0">Önerilen Sıralama</option>
                                                <option value="1">Fiyat: Önce en düşük</option>
                                                <option value="2">Fiyat: Önce en yüksek</option>
                                                <option value="3">Ürün Adı: A'dan Z'ye</option>
                                                <option value="4">Ürün Adı: Z'den A'ya</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content">
                        <!-- Products Grid -->
                        <div class="tab-pane active" id="products-grid">
                            <div class="products-block">
                                <div class="row dataContainer">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" data-repeat="items">
                                        <div class="product-item">
                                            <div class="product-image">
                                                <a href="/products/{{item.product.id}}">
                                                    <img src="/img/kurdale.png" alt="kurdale" class="kurdale">
                                                    <img class="img-responsive" src="/uploads/products/{{item.product.image}}" alt="Product Image">
                                                </a>
                                            </div>

                                            <div class="product-title">
                                                <a href="/products/{{item.product.id}}">
                                                    {{item.product.name}}
                                                </a>
                                            </div>

                                            <div class="product-rating">
                                                {{vba.ratingChange(item.averageRating)}}
                                            </div>
                                            <span class="review-count">({{item.commentCount}})</span>

                                            <div class="product-price">
                                                <span class="sale-price">{{item.product.salePrice}} &#x20BA;</span>
                                                <span class="base-price">{{item.product.basePrice}} &#x20BA;</span>
                                            </div>

                                            <div class="product-buttons">
                                                <a class="add-to-cart {{item.product.stock > 0?'':'d-none'}}" href="javascript:;" onclick="{{item.product.stock > 0 ? 'vba.root.addBasket(\''+item.product.id+'\',\''+item.product.name+'\',\''+item.product.image+'\',\''+item.product.salePrice+'\',\''+item.product.stock+'\',\''+item.product.shippingAmount+'\',1);' : ''}}">
                                                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                </a>

                                                <a class="add-wishlist" href="javascript:;" onclick="vba.route.ccnt.funcs.updateUserFavorite('{{item.product.id}}');">
                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                </a>

                                                <a class="quickview" href="/products/{{item.product.id}}">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pagination Bar -->
                    <div class="pagination-bar">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="text showingTotalProducts">Toplam 0 Üründen 0 Adet Gösteriliyor</div>
                            </div>

                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <div class="pagination">
                                    <ul class="page-list" id="pagination">
                                        <li><a href="javascript:;" onclick="vba.route.ccnt.items.filterForm.page = 1; vba.route.ccnt.funcs.getItems(); return false;" class="prev"><span class="fa fa-angle-double-left" aria-hidden="true"></span></a></li>
                                        <li><a href="javascript:;" onclick="if (vba.route.ccnt.items.filterForm.page != 1) { vba.route.ccnt.items.filterForm.page -= 1; } vba.route.ccnt.funcs.getItems(); return false;" class="prev"><span class="fa fa-angle-left" aria-hidden="true"></span></a></li>
                                        <li class="nav-page"><a href="#" class="current">0</a></li>
                                        <li><a onclick="if (vba.route.ccnt.items.filterForm.page != vba.route.ccnt.items.filterForm.totalPage) { vba.route.ccnt.items.filterForm.page += 1; } vba.route.ccnt.funcs.getItems(); return false;" class="next">  <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                                        <li><a href="javascript:;" onclick="vba.route.ccnt.items.filterForm.page = vba.route.ccnt.items.filterForm.totalPage; vba.route.ccnt.funcs.getItems(); return false;" class="next"><span class="fa fa-angle-double-right" aria-hidden="true"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>