<div class="modal-header bg-success">
    <div class="d-flex align-items-center" style="justify-content: space-between;">
        <h5 class="modal-title text-white float-left">&#128722; Ödemeyi Yap</h5>
        <button type="button" class="close text-white float-right" aria-label="Close" onclick="vba.modal.close()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</div>
<div class="modal-body text-center">
    @Html.Raw(ViewBag.data)
    <div id="iyzipay-checkout-form" class="responsive"></div>
</div>
<div class="modal-footer d-flex justify-content-center">
    <button type="button" onclick="vba.route.ccnt.funcs.clipboardCopy();" class="btn btn-secondary">&#128279; Öde &#128279;</button>
</div>