<!-- Breadcrumb -->
<div id="breadcrumb">
    <div class="container">
        <h2 class="title">Hakkımızda</h2>

        <ul class="breadcrumb">
            <li><a href="#" title="/">Ana Sayfa</a></li>
            <li><span>Hakkımızda</span></li>
        </ul>
    </div>
</div>

<div class="container" style="padding-right: 0px; padding-left: 0px;">
    <div class="about-us intro">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="intro-header">
                        <h3><span>@await layout.settingsAsync("title")</span>'a Hoş Geldiniz</h3>
                        <p>
                            Tarım Ürünleri Satış Platformu, çiftçilere ürünlerini daha geniş bir pazara ulaştırarak daha fazla müşteriye erişmelerini sağlıyor. Teknoloji ve tarımı bir araya getirerek, çiftçilerimize verimli bir şekilde ürünlerini sergileme, tanıtma ve satma imkanı sağlıyoruz. Sürdürülebilir tarım uygulamalarını destekleyerek çevre dostu ve doğal ürünlerin tüketimini teşvik ediyoruz. Güvenilir ve kaliteli tarım ürünlerini tüketicilerle buluşturarak, sağlıklı yaşam ve doğal beslenme konusunda katkı sağlıyoruz. Hem çiftçilere hem de tüketicilere yönelik kullanıcı dostu bir platform oluşturarak, tarım ürünlerinin dijital dünyada daha fazla değer kazanmasına yardımcı oluyoruz. Tarım Ürünleri Satış Platformu olarak, çiftçilerimiz ve tüketicilerimiz arasında köprü oluşturarak güvenilir ve kaliteli bir alışveriş deneyimi sunuyoruz.
                        </p>
                        <p>
                            Bizler, tarıma ve çiftçilere olan tutkumuzla hareket ediyor, daha güçlü ve sürdürülebilir bir tarım sektörü için çabalıyoruz. Sizleri de aramızda görmekten mutluluk duyacağız. Tarım Ürünleri Satış Platformu'na hoş geldiniz!
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="intro-left">
                        <div class="intro-item">
                            <p><img src="img/intro-icon-1.png" alt="Intro Image"></p>
                            <h4>HERZAMAN TAZE</h4>
                            <p>Sağlığınızı ve yaşam kalitenizi ön planda tutan taze ürünlerimizle vücudunuza iyi bakın.</p>
                        </div>

                        <div class="intro-item">
                            <p><img src="img/intro-icon-2.png" alt="Intro Image"></p>
                            <h4>SÜPER SAĞLIKLI</h4>
                            <p>Süper sağlıklı bir yaşam için doğal ürünlerin gücünü keşfedin. Web sitemiz, sağlığınızı desteklemek için en iyi doğal ürünleri sunar.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="effect">
                        <a href="#">
                            <img class="img-responsive" src="/img/intro-1.png" alt="Intro Image">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="intro-right">
                        <div class="intro-item">
                            <p><img src="img/intro-icon-3.png" alt="Intro Image"></p>
                            <h4>%100 DOĞAL</h4>
                            <p>Sağlığınızı, mutluluğunuzu ve dengeyi korumanız için ihtiyaç duyduğunuz her şeyi bulabileceğiniz güvenilir bir kaynaktır.</p>
                        </div>

                        <div class="intro-item">
                            <p><img src="img/intro-icon-4.png" alt="Intro Image"></p>
                            <h4>ÜSTÜN KALİTELİ</h4>
                            <p>Doğallık, saflik ve en yüksek kalite standartlarını benimseyen ürünlerimizle sağlığınızı destekleyin ve kendinizi şımartın.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 