<!-- Breadcrumb -->
<div id="breadcrumb">
    <div class="container">
        <h2 class="title">İşlem Sonucu</h2>

        <ul class="breadcrumb">
            <li><a href="/" title="Home">Ana Sayfa</a></li>
            <li><span>Sonuç</span></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="page-checkout">
        <div class="row">
            <center>
                <h2 class="text-success">
                    <i class="fa fa-certificate" aria-hidden="true"></i>
                    Ödeme Başarılı. Siparişiniz Alınmıştır.
                </h2>
                <br />
                <br />
                Sipariş listesini görmek istiyorsanız <a href="/myorders"><b>Siparişlerim</b></a>  sayfasına göztınız.
            </center>
        </div>
    </div>
</div>
