<!-- Breadcrumb -->
<div id="breadcrumb">
    <div class="container">
        <h2 class="title">İşlem Sonucu</h2>

        <ul class="breadcrumb">
            <li><a href="/" title="Home">Ana Sayfa</a></li>
            <li><span>Sonuç</span></li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="page-checkout">
        <div class="row">
            <span class="paymentControl"></span> 
            <input type="hidden" name="token" value="@ViewBag.token" />
        </div>
    </div>
</div>

 